<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.dao.QuartzMapper" >

<!--  INSERT INTO user_admin_t (_id,password)-->
<!--  VALUES-->
<!--  ('1','多条插入1') ,-->
<!--  ('UpId','多条插入2')-->
<!--  ON DUPLICATE KEY UPDATE-->
<!--  password =  VALUES(password)-->
</mapper>