<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.dao.QuartzMapper" >
  <resultMap id="BaseResultMap" type="com.cloud.model.Quartz" >
    <constructor >
      <arg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="task_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="cron" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="SMALLINT" javaType="java.lang.Short" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="group_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="param" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="job_status" jdbcType="SMALLINT" javaType="java.lang.Short" />
    </constructor>
  </resultMap>



</mapper>