<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.dao.UserMapper">

    <select id="selectExcelUser" resultType="com.cloud.model.User">
        select user_id,login_name,full_name,
        ( CASE WHEN gender = 1 THEN '男' ELSE '女' END ) gender ,
        ( CASE WHEN user_type = "T" THEN '教师' WHEN user_type = "S" THEN '家长' ELSE '学生' END ) user_type,
        mobile,enabled,is_admin,psw,create_time,update_time,email,head_url,sch_id,platform_type
        from  t_user
        <where >
            <if test="userId != null" >
                and user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="loginName != null" >
                and login_name = #{loginName,jdbcType=VARCHAR}
            </if>
            <if test="fullName != null" >
                and full_name = #{fullName,jdbcType=VARCHAR}
            </if>
            <if test="gender != null" >
                and gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="userType != null" >
                and user_type = #{userType,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null" >
                and mobile = #{mobile,jdbcType=VARCHAR}
            </if>
            <if test="enabled != null" >
                and enabled = #{enabled,jdbcType=INTEGER}
            </if>
            <if test="isAdmin != null" >
                and  is_admin = #{isAdmin,jdbcType=INTEGER}
            </if>
            <if test="psw != null" >
                and psw = #{psw,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null" >
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null" >
                and update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="email != null" >
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="headUrl != null" >
                and head_url = #{headUrl,jdbcType=VARCHAR}
            </if>
            <if test="schId != null" >
                and sch_id = #{schId,jdbcType=INTEGER}
            </if>
            <if test="platformType != null" >
                and platform_type = #{platformType,jdbcType=INTEGER}
            </if>
        </where>

    </select>

    <insert id="insertUsers">
        insert into t_user ( user_id, login_name, full_name, gender, user_type, mobile, enabled,
        is_admin, psw,create_time, update_time, email, head_url, sch_id,platform_type )
        values
        <foreach collection="list" item="users" index="index" separator=",">
            (
            (SELECT REPLACE(UUID(), '-', '')), #{users.loginName,jdbcType=VARCHAR}, #{users.fullName,jdbcType=VARCHAR},
            #{users.gender,jdbcType=VARCHAR}, #{users.userType,jdbcType=VARCHAR}, #{users.mobile,jdbcType=VARCHAR},
            #{users.enabled,jdbcType=INTEGER}, #{users.isAdmin,jdbcType=INTEGER}, #{users.psw,jdbcType=VARCHAR},
            #{users.createTime,jdbcType=TIMESTAMP}, #{users.updateTime,jdbcType=TIMESTAMP}, #{users.email,jdbcType=VARCHAR},
            #{users.headUrl,jdbcType=VARCHAR}, #{users.schId,jdbcType=INTEGER},#{users.platformType,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--主键 更新-->
    <!--<update id="updateStatusByMap" parameterType="com.wxm.cloud.model.Meal">-->
        <!--update t_school_meal-->
        <!--<trim prefix="set" suffixOverrides=",">-->
            <!--<trim prefix="status =case" suffix="end,">-->
                <!--<foreach collection="list" item="item" index="index">-->
                    <!--<if test="item.status!=null">-->
                        <!--when meal_id = #{item.mealId} then #{item.status}-->
                    <!--</if>-->
                <!--</foreach>-->
            <!--</trim>-->
        <!--</trim>-->
        <!--where-->
        <!--<foreach collection="list" separator="or" item="item" index="index">-->
            <!--meal_id = #{item.mealId}-->
        <!--</foreach>-->
    <!--</update>-->
</mapper>