<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.dao.UserMapper">

    <select id="selectExcelUser" resultType="com.cloud.model.User">
        select user_id, login_name, full_name, education_id,
        ( CASE WHEN gender = 1 THEN '男' ELSE '女' END ) gender ,
        ( CASE WHEN user_type = "T" THEN '教师' WHEN user_type = "S" THEN '家长' ELSE '学生' END ) user_type,
        mobile, is_admin, email, head_url from table_user
        <where>
            <if test="userId != null" >
                and user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="loginName != null" >
                and login_name = #{loginName,jdbcType=VARCHAR}
            </if>
            <if test="fullName != null" >
                and full_name = #{fullName,jdbcType=VARCHAR}
            </if>
            <if test="gender != null" >
                and gender = #{gender,jdbcType=VARCHAR}
            </if>
            <if test="userType != null" >
                and user_type = #{userType,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null" >
                and mobile = #{mobile,jdbcType=VARCHAR}
            </if>
            <if test="enabled != null" >
                and enabled = #{enabled,jdbcType=INTEGER}
            </if>
            <if test="isAdmin != null" >
                and  is_admin = #{isAdmin,jdbcType=INTEGER}
            </if>
            <if test="email != null" >
                and email = #{email,jdbcType=VARCHAR}
            </if>
            <if test="headUrl != null" >
                and head_url = #{headUrl,jdbcType=VARCHAR}
            </if>
            <if test="educationId != null" >
                and education_id = #{educationId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectByLoginName" resultType="com.cloud.model.User">
        SELECT t1.user_id, t1.education_id, t1.full_name, t1.login_name
        ( CASE WHEN t1.gender = 1 THEN '男' ELSE '女' END ) gender,
        ( CASE WHEN t1.user_type = "T" THEN '教师' WHEN t1.user_type = "S" THEN '家长' ELSE '学生' END ) user_type
        from table_user t1
        where t1.enabled = 1 and t1.login_name = #{loginName} and t1.psw = #{psd}
    </select>

    <insert id="insertUsers">
        insert into table_user
        ( user_id, education_id, head_url, login_name, full_name, gender, user_type, mobile, email, is_admin, psw)
        values
        <foreach collection="list" item="users" index="index" separator=",">
        (
         (SELECT REPLACE(UUID(), '-', '')), #{users.educationId}, #{users.headUrl}, #{users.loginName},
         #{users.fullName}, #{users.gender}, #{users.userType}, #{users.mobile}, #{users.email}, #{users.isAdmin}, #{users.psw}
        )
        </foreach>
    </insert>


</mapper>