<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloud.dao.zxjs0101Mapper" >
  <resultMap id="BaseResultMap" type="com.cloud.model.zxjs0101" >
    <constructor >
      <idArg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="login_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="full_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="enabled" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="is_admin" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="psw" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="head_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sch_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="xqh_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, login_name, full_name, gender, mobile, enabled, is_admin, psw, create_time, 
    update_time, email, head_url, sch_id, xqh_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from zxjs0101
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from zxjs0101
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cloud.model.zxjs0101" >
    insert into zxjs0101 (user_id, login_name, full_name, 
      gender, mobile, enabled, 
      is_admin, psw, create_time, 
      update_time, email, head_url, 
      sch_id, xqh_id)
    values (#{userId,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{enabled,jdbcType=INTEGER}, 
      #{isAdmin,jdbcType=INTEGER}, #{psw,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{email,jdbcType=VARCHAR}, #{headUrl,jdbcType=VARCHAR}, 
      #{schId,jdbcType=INTEGER}, #{xqhId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cloud.model.zxjs0101" >
    insert into zxjs0101
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="fullName != null" >
        full_name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
      <if test="psw != null" >
        psw,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="headUrl != null" >
        head_url,
      </if>
      <if test="schId != null" >
        sch_id,
      </if>
      <if test="xqhId != null" >
        xqh_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="psw != null" >
        #{psw,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null" >
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="schId != null" >
        #{schId,jdbcType=INTEGER},
      </if>
      <if test="xqhId != null" >
        #{xqhId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cloud.model.zxjs0101" >
    update zxjs0101
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=INTEGER},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="psw != null" >
        psw = #{psw,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="headUrl != null" >
        head_url = #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="schId != null" >
        sch_id = #{schId,jdbcType=INTEGER},
      </if>
      <if test="xqhId != null" >
        xqh_id = #{xqhId,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cloud.model.zxjs0101" >
    update zxjs0101
    set login_name = #{loginName,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      enabled = #{enabled,jdbcType=INTEGER},
      is_admin = #{isAdmin,jdbcType=INTEGER},
      psw = #{psw,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      head_url = #{headUrl,jdbcType=VARCHAR},
      sch_id = #{schId,jdbcType=INTEGER},
      xqh_id = #{xqhId,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>